.buttunOK {
  color: white !important;
  border-radius: 15px;
  background-color: #eb97a0;
}
.buttunOK:hover {
  background-color: #d34e5c;
  transition: all 0.5s;
}
.add {
  color: #ce656f;
  //   color: yellow;
}
